In [5]:
# import pandas as pd
# import os
# from sqlalchemy import create_engine, text
# from dotenv import load_dotenv
# import psycopg2
# from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

# # Load environment variables
# load_dotenv()

# DB_NAME = os.getenv("DB_NAME")
# DB_USER = os.getenv("DB_USER")
# DB_PASSWORD = os.getenv("DB_PASSWORD")
# DB_HOST = os.getenv("DB_HOST")
# DB_PORT = os.getenv("DB_PORT")

# # Step 1: Connect to default 'postgres' DB to create target DB if needed
# def create_database_if_not_exists():
#     conn = psycopg2.connect(
#         dbname="postgres",
#         user=DB_USER,
#         password=DB_PASSWORD,
#         host=DB_HOST,
#         port=DB_PORT
#     )
#     conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
#     cur = conn.cursor()

#     cur.execute(f"SELECT 1 FROM pg_database WHERE datname = '{DB_NAME}'")
#     exists = cur.fetchone()
#     if not exists:
#         print(f"Creating database '{DB_NAME}'...")
#         cur.execute(f"CREATE DATABASE {DB_NAME}")
#     else:
#         print(f"Database '{DB_NAME}' already exists.")
    
#     cur.close()
#     conn.close()

# create_database_if_not_exists()

# # Step 2: Connect to the newly created/existing target database
# engine = create_engine(f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}")

# # Step 3: Drop the table if it exists, then recreate it
# drop_and_create_table_sql = """
# DROP TABLE IF EXISTS inspections;

# CREATE TABLE inspections (
#     inspection_id BIGINT PRIMARY KEY,
#     dba_name VARCHAR(255),
#     aka_name VARCHAR(255),
#     license BIGINT,
#     facility_type VARCHAR(255),
#     risk VARCHAR(100),
#     address TEXT,
#     city VARCHAR(100),
#     state CHAR(2),
#     zip VARCHAR(10),
#     inspection_date DATE,
#     inspection_type VARCHAR(255),
#     results VARCHAR(100),
#     latitude DOUBLE PRECISION,
#     longitude DOUBLE PRECISION,
#     violations TEXT,
#     facility_type_clean VARCHAR(255),
#     violations_list TEXT,
#     violation_num_list TEXT
# );
# """

# with engine.connect() as conn:
#     for stmt in drop_and_create_table_sql.strip().split(";"):
#         if stmt.strip():
#             conn.execute(text(stmt))
#     print("Table 'inspections' dropped and recreated.")

# # Step 4: Load the CSV and insert data
# df = pd.read_csv("data/cleaned_chicago_data.csv")

# df["violations_list"] = df["violations_list"].astype(str)
# df["violation_num_list"] = df["violation_num_list"].astype(str)

# df.to_sql("inspections", engine, if_exists="append", index=False)
# print("Data loaded successfully into 'inspections'.")

In [ ]:
import pandas as pd
import os
from sqlalchemy import create_engine, text
from dotenv import load_dotenv

# load .env, build engine…
load_dotenv()
engine = create_engine(
    f"postgresql://{os.getenv('DB_USER')}:{os.getenv('DB_PASSWORD')}"
    f"@{os.getenv('DB_HOST')}:{os.getenv('DB_PORT')}/{os.getenv('DB_NAME')}"
)

# 1) DROP & RECREATE
drop_sql = "DROP TABLE IF EXISTS inspections;"
create_sql = """
CREATE TABLE inspections (
    inspection_id BIGINT PRIMARY KEY,
    dba_name VARCHAR(255),
    aka_name VARCHAR(255),
    license_ BIGINT,
    facility_type VARCHAR(255),
    risk VARCHAR(100),
    address TEXT,
    city VARCHAR(100),
    state CHAR(2),
    zip VARCHAR(10),
    inspection_date DATE,
    inspection_type VARCHAR(255),
    results VARCHAR(100),
    latitude DOUBLE PRECISION,
    longitude DOUBLE PRECISION,
    violations TEXT,
    facility_type_clean VARCHAR(255),
    violations_list TEXT[],
    violation_num_list INTEGER[]
);
"""

with engine.begin() as conn:
    conn.execute(text(drop_sql))
    conn.execute(text(create_sql))
    print("✔ Table 'inspections' dropped and recreated.")

# 2) Load your cleaned CSV
import ast
df = pd.read_csv("data/cleaned_chicago_data.csv")
df["violations_list"] = df["violations_list"].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else [])
df["violation_num_list"] = df["violation_num_list"].apply(
    lambda x: list(map(int, ast.literal_eval(x))) if pd.notna(x) and x != 'nan' else []
)

df.to_sql("inspections", engine, if_exists="append", index=False)
print("✔ Data loaded into 'inspections'.")

✔ Table 'inspections' dropped and recreated.

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "inspections_pkey"
DETAIL:  Key (inspection_id)=(2616252) already exists.

[SQL: INSERT INTO inspections (inspection_id, facility_id, inspection_date, inspection_type, results) VALUES (%(inspection_id__0)s, %(facility_id__0)s, %(inspection_date__0)s, %(inspection_type__0)s, %(results__0)s), (%(inspection_id__1)s, %(facility_id__1 ... 117201 characters truncated ... __999)s, %(facility_id__999)s, %(inspection_date__999)s, %(inspection_type__999)s, %(results__999)s)]
[parameters: {'inspection_id__0': 2616252, 'facility_id__0': 1, 'results__0': 'Pass', 'inspection_date__0': '2025-04-23', 'inspection_type__0': 'Canvass', 'inspection_id__1': 2616252, 'facility_id__1': 13922, 'results__1': 'Pass', 'inspection_date__1': '2025-04-23', 'inspection_type__1': 'Canvass', 'inspection_id__2': 2616253, 'facility_id__2': 2, 'results__2': 'No Entry', 'inspection_date__2': '2025-04-23', 'inspection_type__2': 'Complaint', 'inspection_id__3': 2616253, 'facility_id__3': 14818, 'results__3': 'No Entry', 'inspection_date__3': '2025-04-23', 'inspection_type__3': 'Complaint', 'inspection_id__4': 2616226, 'facility_id__4': 3, 'results__4': 'Pass', 'inspection_date__4': '2025-04-23', 'inspection_type__4': 'Canvass', 'inspection_id__5': 2616226, 'facility_id__5': 13035, 'results__5': 'Pass', 'inspection_date__5': '2025-04-23', 'inspection_type__5': 'Canvass', 'inspection_id__6': 2616171, 'facility_id__6': 4, 'results__6': 'Pass', 'inspection_date__6': '2025-04-22', 'inspection_type__6': 'Canvass', 'inspection_id__7': 2616171, 'facility_id__7': 4954, 'results__7': 'Pass', 'inspection_date__7': '2025-04-22', 'inspection_type__7': 'Canvass', 'inspection_id__8': 2616216, 'facility_id__8': 5, 'results__8': 'Fail', 'inspection_date__8': '2025-04-22', 'inspection_type__8': 'License', 'inspection_id__9': 2616181, 'facility_id__9': 6, 'results__9': 'Pass w/ Conditions', 'inspection_date__9': '2025-04-22', 'inspection_type__9': 'Canvass' ... 4900 parameters truncated ... 'inspection_id__990': 2615224, 'facility_id__990': 13130, 'results__990': 'Pass', 'inspection_date__990': '2025-04-07', 'inspection_type__990': 'Canvass', 'inspection_id__991': 2615273, 'facility_id__991': 474, 'results__991': 'Pass w/ Conditions', 'inspection_date__991': '2025-04-07', 'inspection_type__991': 'Canvass', 'inspection_id__992': 2615273, 'facility_id__992': 11201, 'results__992': 'Pass w/ Conditions', 'inspection_date__992': '2025-04-07', 'inspection_type__992': 'Canvass', 'inspection_id__993': 2615288, 'facility_id__993': 475, 'results__993': 'Pass', 'inspection_date__993': '2025-04-07', 'inspection_type__993': 'Canvass', 'inspection_id__994': 2615288, 'facility_id__994': 14293, 'results__994': 'Pass', 'inspection_date__994': '2025-04-07', 'inspection_type__994': 'Canvass', 'inspection_id__995': 2615279, 'facility_id__995': 476, 'results__995': 'Pass w/ Conditions', 'inspection_date__995': '2025-04-07', 'inspection_type__995': 'Canvass', 'inspection_id__996': 2615279, 'facility_id__996': 12824, 'results__996': 'Pass w/ Conditions', 'inspection_date__996': '2025-04-07', 'inspection_type__996': 'Canvass', 'inspection_id__997': 2615253, 'facility_id__997': 477, 'results__997': 'Pass', 'inspection_date__997': '2025-04-07', 'inspection_type__997': 'Canvass', 'inspection_id__998': 2615253, 'facility_id__998': 14844, 'results__998': 'Pass', 'inspection_date__998': '2025-04-07', 'inspection_type__998': 'Canvass', 'inspection_id__999': 2615233, 'facility_id__999': 478, 'results__999': 'Pass', 'inspection_date__999': '2025-04-07', 'inspection_type__999': 'Canvass Re-Inspection'}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [3]:
import pandas as pd
from sqlalchemy import create_engine

DB_NAME = os.getenv("DB_NAME")
DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")

# Create the same engine as before
engine = create_engine(f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}")

# Query some data
df2 = pd.read_sql("SELECT * FROM inspections;", engine)
print(df2)

        inspection_id                   dba_name                   aka_name  \
0             2616252  ROTI MODERN MEDITERRANEAN  ROTI MODERN MEDITERRANEAN
1             2616253     MAGGIE GYROS & CHICKEN     MAGGIE GYROS & CHICKEN
2             2616226    FORNO ROSSO ON RANDOLPH    FORNO ROSSO ON RANDOLPH
3             2616171          TO KOREAN CUISINE          TO KOREAN CUISINE
4             2616216                 PUP SOCIAL                 PUP SOCIAL
...               ...                        ...                        ...
264156          67848    SAFAH FOOD & LIQUOR INC    SAFAH FOOD & LIQUOR INC
264157          67738     MICHAEL'S ON MAIN CAFE     MICHAEL'S ON MAIN CAFE
264158          52234                   CAFE 608                   CAFE 608
264159          67733                    TROQUET                    TROQUET
264160         104236                 TEMPO CAFE                 TEMPO CAFE

        license_  facility_type           risk                address  \
0        2594670     Restaurant  Risk 1 (High)     1012 W RANDOLPH ST
1        1869774     Restaurant  Risk 1 (High)          349 E 47TH ST
2        2358717     Restaurant  Risk 1 (High)     1048 W RANDOLPH ST
3        2997283     Restaurant  Risk 1 (High)        3108 N BROADWAY
4        2997708         Liquor   Risk 3 (Low)     2200 N ASHLAND AVE
...          ...            ...            ...                    ...
264156     14103  Grocery Store   Risk 3 (Low)      7105 S RACINE AVE
264157   2008948     Restaurant  Risk 1 (High)  8750 W BRYN WAWR AVE
264158   2013328     Restaurant  Risk 1 (High)       608 W BARRY AVE
264159   1992040     Restaurant  Risk 1 (High)   1834 W MONTROSE AVE
264160     80916     Restaurant  Risk 1 (High)       6 E CHESTNUT ST

           city state    zip inspection_date        inspection_type   results  \
0       Chicago    IL  60607      2025-04-23                Canvass      Pass
1       Chicago    IL  60653      2025-04-23              Complaint  No Entry
2       Chicago    IL  60607      2025-04-23                Canvass      Pass
3       Chicago    IL  60657      2025-04-22                Canvass      Pass
4       Chicago    IL  60614      2025-04-22                License      Fail
...         ...   ...    ...             ...                    ...       ...
264156  Chicago    IL  60636      2010-01-05  Canvass Re-Inspection      Pass
264157  Chicago    IL  60631      2010-01-04                License      Fail
264158  Chicago    IL  60657      2010-01-04  License Re-Inspection      Pass
264159  Chicago    IL  60613      2010-01-04  License Re-Inspection      Pass
264160  Chicago    IL  60611      2010-01-04                Canvass      Fail

         latitude  longitude  \
0       41.884426 -87.652690
1       41.809257 -87.617666
2       41.884401 -87.654031
3       41.937940 -87.644477
4       41.921585 -87.668773
...           ...        ...
264156  41.764896 -87.653965
264157  41.983050 -87.844280
264158  41.938007 -87.644755
264159  41.961606 -87.675967
264160  41.898431 -87.628009

                                               violations facility_type_clean  \
0                                                    None          restaurant
1                                                    None          restaurant
2       55. PHYSICAL FACILITIES INSTALLED, MAINTAINED ...          restaurant
3       37. FOOD PROPERLY LABELED; ORIGINAL CONTAINER ...          restaurant
4       3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...              liquor
...                                                   ...                 ...
264156  33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...       grocery store
264157  18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...          restaurant
264158                                               None          restaurant
264159                                               None          restaurant
264160  18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...          restaurant

                                          violations_list  \
0                                                      []
1                                                      []
2       [55. PHYSICAL FACILITIES INSTALLED, MAINTAINED...
3       [37. FOOD PROPERLY LABELED; ORIGINAL CONTAINER...
4       [3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL ...
...                                                   ...
264156  [33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENS...
264157  [18. NO EVIDENCE OF RODENT OR INSECT OUTER OPE...
264158                                                 []
264159                                                 []
264160  [18. NO EVIDENCE OF RODENT OR INSECT OUTER OPE...

                                  violation_num_list
0                                                 []
1                                                 []
2                                               [55]
3                                           [37, 54]
4            [3, 10, 38, 38, 52, 53, 53, 55, 55, 55]
...                                              ...
264156                          [33, 34, 35, 38, 41]
264157                          [18, 32, 34, 35, 36]
264158                                            []
264159                                            []
264160  [18, 19, 32, 33, 34, 35, 36, 37, 38, 39, 41]

[264161 rows x 19 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264161 entries, 0 to 264160
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   inspection_id        264161 non-null  int64
 1   dba_name             264161 non-null  object
 2   aka_name             264161 non-null  object
 3   license_             264161 non-null  int64
 4   facility_type        264161 non-null  object
 5   risk                 264161 non-null  object
 6   address              264161 non-null  object
 7   city                 264161 non-null  object
 8   state                264161 non-null  object
 9   zip                  264161 non-null  int64
 10  inspection_date      264161 non-null  object
 11  inspection_type      264161 non-null  object
 12  results              264161 non-null  object
 13  latitude             264161 non-null  float64
 14  longitude            264161 non-null  float64
 15  violations           208952 non-null  object
 16  facility_type_clean  264161 non-null  object
 17  violations_list      264161 non-null  object
 18  violation_num_list   264161 non-null  object
dtypes: float64(2), int64(3), object(14)
memory usage: 38.3+ MB